<form [formGroup]="formGrupos" *ngIf="loaderCargar==false">
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="5:0.9">
      <mat-progress-bar *ngIf="loaderGuardar"  mode="indeterminate"></mat-progress-bar>
      <h3>CLIENTES</h3>
      <h4>DATOS DEL CLIENTE</h4>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Cédula</mat-label>
          <input matInput formControlName="cedula">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Estado Civil</mat-label>
          <mat-select formControlName="estadoCivil">
            <mat-option value="SOLTERO">SOLTERO/A</mat-option>
            <mat-option value="CASADO">CASADO/A</mat-option>
            <mat-option value="DIVORSIADO">DIVORSIADO/A</mat-option>
            <mat-option value="VIUDO">VIUDO/A</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombres">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" [max]="fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="apellidos">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <section class="example-section">
          <label class="example-margin">Discapacidad:</label>
          <mat-radio-group formControlName="discapacidad">
            <mat-radio-button class="example-margin" [value]="true">SI</mat-radio-button>
            <mat-radio-button class="example-margin" [value]="false">NO</mat-radio-button>
          </mat-radio-group>
        </section>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <section class="example-section">
          <label class="example-margin">Género:</label>
          <mat-radio-group formControlName="genero">
            <mat-radio-button class="example-margin" value="MASCULINO">MASCULINO</mat-radio-button>
            <mat-radio-button class="example-margin" value="FEMENINO">FEMENINO</mat-radio-button>
            <mat-radio-button class="example-margin" value="OTROS">OTROS</mat-radio-button>
          </mat-radio-group>
        </section>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">Ubicación:
        <mat-form-field class="ubicacion" appearance="outline">
          <mat-label>Provincia</mat-label>
          <mat-select formControlName="idProvincia" (selectionChange)="selectProvincia($event)">
            <mat-option *ngFor="let provincia of provicias"
                        [value]="provincia.id">{{provincia.provincia}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="ubicacion" appearance="outline">
          <mat-label>Cantón</mat-label>
          <mat-select formControlName="idCanton" (selectionChange)="selectCanton($event)">
            <mat-option *ngFor="let cantones of cantonFiltrado"
                        [value]="cantones.id">{{cantones.canton}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field class="ubicacion" appearance="outline">
          <mat-label>Parroquia</mat-label>
          <mat-select formControlName="idParroquia">
            <mat-option *ngFor="let parroquia of parroquiaFiltrado"
                        [value]="parroquia.id">{{parroquia.parroquia}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="ubicacion" appearance="outline">
          <mat-label>Barrio</mat-label>
          <mat-select formControlName="idBarrio">
            <mat-option *ngFor="let barrio of barrios" [value]="barrio.id">{{barrio.barrio}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="agregarBarrios()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-divider></mat-divider>
        Representante:
        <mat-form-field class="ubicacion" appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombreResponsable">
        </mat-form-field>
        <mat-form-field class="ubicacion" appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefonoResponsbale">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
  <button mat-flat-button color="warn" [disabled]="formGrupos.invalid" (click)="guardarCliente()">REGISTRAR</button>
</form>

<div *ngIf="loaderCargar">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
