.example-card {
  width: 650px;
  margin: 0.5% auto;
  background-color: #f7f2dc;
}
.example-card-two{
  width: 95%;
  margin: 0.5% auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
mat-grid-tile {
}
mat-grid-tile{
  text-align: start;
}
mat-form-field{
  height: 60px;
  width: 95%;
}
mat-label{
  color: black;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 1vh 10px;
}
.ubicacion{
  margin: 0 1vh;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
