<br>
<section>
    <div *ngIf="sectionCrudDatos==true">
        <mat-card class="example-card" style="background: #F2F1E9">
            <form [formGroup]="formGrupos">
                <mat-card-content style="background: #F2F1E9">

                    <div>
                        <div class="opcion1fd">
                            <h3> <strong>SERVICIO</strong></h3>
                        </div>
                    </div>

                    <h4>DATOS DEL SERVICIO</h4>




                    <mat-grid-list cols="3" rowHeight="5:0.9">




                        <div>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline" class="margeninput">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="nombres">
                                </mat-form-field>
                            </mat-grid-tile>

                        </div>

                        <div>
                            <mat-grid-tile>

                                <mat-form-field appearance="outline" class="margeninput">
                                    <mat-label>Seleccione Estado </mat-label>
                                    <mat-select formControlName="estadoarticulo">
                                        <mat-option *ngFor="let option2 of estadoLista"
                                            [value]="option2.id">{{option2.nombres}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </mat-grid-tile>
                        </div>


                        <form [formGroup]="forGrupoCodigoBarra">

                            <div>
                                <mat-grid-tile>
                                    <mat-form-field appearance="outline" class="margeninput">
                                        <mat-label>Código de Barra</mat-label>
                                        <input matInput formControlName="codigobarra" readonly="true">
                                    </mat-form-field>
                                </mat-grid-tile>

                            </div>
                        </form>



                    </mat-grid-list>







                    <br>

                    <form [formGroup]="formGrupoPrecio">

                        <table class="tablastyle">
                            <thead>
                                <tr class="tablastyle">
                                    <th class="tablastyle1">

                                        <table class="default">
                                            <tr>
                                                <td>PRECIO ($)</td>
                                            </tr>

                                            <tr>
                                                <td>COSTO</td>
                                            </tr>

                                        </table>

                                    </th>
                                    <th class="tablastyle1">
                                        <table class="default">
                                            <tr>
                                                <td>IVA</td>
                                            </tr>

                                            <tr>
                                                <td>(%)</td>
                                            </tr>

                                        </table>
                                    </th>
                                    <th class="tablastyle1" style="width: 130px;">
                                        <table class="default">
                                            <tr>
                                                <td>PRECIO ($)</td>
                                            </tr>

                                            <tr>
                                                <td>IVA</td>
                                            </tr>

                                        </table>

                                    </th>
                                    <th class="tablastyle1" style="width: 130px; ">
                                        <table class="default">
                                            <tr>
                                                <td>PRECIO ($)</td>
                                            </tr>

                                            <tr>
                                                <td>FINAL</td>
                                            </tr>

                                        </table>
                                    </th>
                                    <th class="tablastyle1">
                                        <table class="default">
                                            <tr>
                                                <td>PRECIO ($)</td>
                                            </tr>

                                            <tr>
                                                <td>ESTANDAD</td>
                                            </tr>

                                        </table>
                                    </th>
                                    <th class="tablastyle1">

                                        <table class="default">
                                            <tr>
                                                <td>MARGEN (%)</td>
                                            </tr>

                                            <tr>
                                                <td>PRODUCCIÓN</td>
                                            </tr>

                                        </table>
                                    </th>
                                    <th class="tablastyle1">
                                        <table class="default">
                                            <tr>
                                                <td>PRECIO ($)</td>
                                            </tr>

                                            <tr>
                                                <td>PRODUCCIÓN</td>
                                            </tr>

                                        </table>
                                    </th>
                                    <th class="tablastyle1">
                                        <table class="default">
                                            <tr>
                                                <td>MARGEN (%)</td>
                                            </tr>

                                            <tr>
                                                <td>VENTA</td>
                                            </tr>

                                        </table>
                                    </th>
                                    <th class="tablastyle1">

                                        <table class="default">
                                            <tr>
                                                <td>PRECIO ($)</td>
                                            </tr>

                                            <tr>
                                                <td>VENTA</td>
                                            </tr>

                                        </table>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>


                                <tr style="text-align: center;">
                                    <th class="tablastyle"><input class="inputstyle" type="text"
                                            formControlName="preciocosto" (change)="calcularValorTabla(1)"></th>


                                    <td class="tablastyle">

                                        <select formControlName="iva" class="inputselect"
                                            (change)="calcularValorTabla(1)">
                                            <option value="0">0%</option>
                                            <option value="12">12%</option>
                                        </select>

                                        <!--
                                        <input class="inputstyle" type="text" formControlName="iva">
-->
                                    </td>

                                    <td class="tablastyle" style="background-color:#d5dac1"><input
                                            style=" font-size: 19px;" readonly="true" matInput
                                            formControlName="precioiva">
                                    </td>

                                    <td class="tablastyle" style="background-color:#d5dac1"><input
                                            style=" font-size: 19px;" readonly="true" matInput
                                            formControlName="preciofinal"></td>

                                    <td class="tablastyle"><input class="inputstyle" type="text"
                                            formControlName="precioestandar" (change)="calcularValorTabla(2)"></td>

                                    <td class="tablastyle"><input class="inputstyle" type="text"
                                            formControlName="margenproduccion" (change)="calcularValorTabla(4)"></td>

                                    <td class="tablastyle"><input class="inputstyle" type="text"
                                            formControlName="precioproduccion" (change)="calcularValorTabla(3)"></td>

                                    <td class="tablastyle"><input class="inputstyle" type="text"
                                            formControlName="margenventa" (change)="calcularValorTabla(4)"></td>

                                    <td class="tablastyle"><input class="inputstyle" type="text"
                                            formControlName="precioventa" (change)="calcularValorTabla(3)"></td>

                                </tr>

                            </tbody>

                        </table>
                    </form>

                    <br>



                </mat-card-content>




                <div>
                    <div>
                        <div class="opcion1fd">


                            <button *ngIf="botonParaGuardar==true" mat-flat-button color="primary"
                                style="color: #FFFFFF;" [disabled]="formGrupos.invalid" (click)="guardarInformacion()"
                                class=".buttonguardar"> <mat-icon>save</mat-icon> REGISTRAR
                            </button>

                            <button *ngIf="botonParaEditar==true" mat-flat-button color="primary"
                                style="color: #FFFFFF;" [disabled]="formGrupos.invalid"
                                (click)="guardarEditarInformacion()" class="buttonguardar"> <mat-icon>save</mat-icon>
                                ACTUALIZAR
                            </button>


                            <button mat-raised-button mat-flat-button color="warn" class="buttonprincipales"
                                (click)="botonCancelarRegistro()" class="buttonguardar">
                                <mat-icon>close</mat-icon> CANCELAR
                            </button>
                        </div>
                    </div>
                </div>




            </form>

        </mat-card>
    </div>
</section>


<!---------------------------------------LISTAR----------------------------------------->

<section *ngIf="sectionTablaLista==true">
    <mat-card class="borde2">

        <div class="tituloSeccion">
            <strong>SERVICIOS</strong>
        </div>

        <mat-progress-bar *ngIf="loaderActualizar" mode="indeterminate"></mat-progress-bar>
        <mat-card-content>

            <div>
                <button mat-raised-button color="primary" style="color: #FFFFFF;" class="buttonprincipales"
                    (click)="mostrarNuevo()">
                    <mat-icon>add_circle_outline</mat-icon>
                    Nuevo
                </button>
                <button mat-raised-button style="background-color: #FBC02D; color: #FFFFFF;" class="buttonprincipales"
                    (click)="generatePDF()">
                    <mat-icon>save_alt</mat-icon>
                    PDF
                </button>

                <button mat-raised-button style="background-color: #217346; color: #FFFFFF;" class="buttonprincipales"
                    (click)="exportToExcel()">
                    <mat-icon>save_alt</mat-icon>
                    EXCEL
                </button>

            </div>
            <br>

            <div style="width: 340px;">
                <mat-form-field appearance="outline" class="bordeFiltro">
                    <mat-label>Buscar Servicio</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Embotellar" #input>
                    <mat-icon matSuffix>find_in_page</mat-icon>
                </mat-form-field>
            </div>



            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort id="table" style="background-color: #F2F1E9">



                    <!-- Name Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="  width: 30px;">ID</th>
                        <td mat-cell *matCellDef="let row" style=" width: 30px;"> {{row.id}} </td>
                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CÓDIGO</th>
                        <td mat-cell *matCellDef="let row"> {{row.codigo_barra}} </td>
                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="logo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE</th>
                        <td mat-cell *matCellDef="let row"> <strong>{{row.nombre}}</strong> </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="precioproduccion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO PRODUCCIÓN</th>
                        <td mat-cell *matCellDef="let row">
                            ${{row.precioProduccion.toFixed(2)}}
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="precioventa">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO VENTA</th>
                        <td mat-cell *matCellDef="let row">
                            ${{row.precioVenta.toFixed(2)}}
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="stockminimo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.nombreEstado}}
                    </ng-container>

                    <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="  width: 230px;">ACCIONES</th>
                        <td mat-cell *matCellDef="let row" style=" width: 230px;">
                            <button class="botontabla" mat-flat-button color="primary"
                                (click)="editarInformacion(row.id  )">Editar</button>



                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro"{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator style="background-color: #F2F1E9;" [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page of users"></mat-paginator>
            </div>

        </mat-card-content>
    </mat-card>
</section>


<svg id="barcode"></svg>